<div class="cont">
    <div class="row">
        <div class="col">
            
                <div class="card-header">
                    <h2>Github User Search Engine</h2>
                </div>
                
                
            
        </div>
    </div>
</div>


<div class="container" mt-3>
    <div class="row">
        <div class="col">
            <div class="card">
               <div class="card-header bg-secondary text-white">
                   <h4>Github User Search</h4>
               </div> 
               <div class="card-body">
                   <form class="form-inline" (submit)="searchUser">                   
                    <div class="form-group">
                     <input [(ngModel)]="githubUserQuery" type="search" class="form-control" placeholder="github user" size="40" p-4 name="user">
                    </div>
                    {{githubUserQuery}}
                    <div>
                     <input type="submit" value="search" class="btn btn-secondary btn-sm" p-3>
                    </div>
                   </form>
                   
        
                   
               </div>
            </div>
        </div>
    </div>
</div>
